<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-gray p-4">
        <button class="button1" (click)="myClick2()">Logout</button>
        <h4 class="text-white">Ornament Site</h4>
        <span class="text-muted">Customised Order</span>
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">  
        <li class="nav-item ">
          <a class="nav-link" id="link" routerLink="home">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="link1" routerLink="contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" id="link2" routerLink="about">About</a>
        </li>
        </ul>
        </div> -->
      </div>
    </div>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PebblesStop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    </nav>

  </div>
