 
   @import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@600&display=swap');
 
   .img-fluid{
      background-image: url("../../assets/images/defocused-image-of-lights-255379.jpg");
      height: 600px;
      width: 100%;
      opacity: 0.9;
      background-size: cover;
      background-attachment: fixed;
      background-position: center; 
  
  }
  
  
  
  h1{
      padding-top: 190px;
      padding-left: 350px;
      font-size: 28px;
      font-family: 'Grenze Gotisch', cursive;
  }