
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" href="../index.html">My Cart </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="material-icons">apps</i> Components
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                  <a href="../index.html" class="dropdown-item">
                      <i class="material-icons">layers</i> All Components
                  </a>
                  
                  <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                      <i class="material-icons">content_paste</i> Documentation
                  </a>
                </div>
              </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <i class="material-icons">cloud_download</i> Download
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/CreativeTim" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/CreativeTim" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
          </ul>
      </div>
  </div>
</nav>

<!-- -----cart item details-------- -->
<div class="container">
<div class="small-container cart-page">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <tr>
      <td>
        <div class="cart-info">
          <img src="../../assets/images/ear6Red.jpg">
          <div>
            <p>Earring</p>
            <small>Price: $50.00</small><br>
            <a href="">Remove</a>
          </div>

        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>$50.00</td>
    </tr>

    <tr>
      <td>
        <div class="cart-info">
          <img src="../../assets/images/ear5Stone.jpg">
          <div>
            <p>Earring</p>
            <small>Price: $150.00</small><br>
            <a href="">Remove</a>
          </div>

        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>$150.00</td>
    </tr>

    <tr>
      <td>
        <div class="cart-info">
          <img src="../../assets/images/ear4Blue.jpg">
          <div>
            <p>Earring</p>
            <small>Price: $200.00</small><br>
            <a href="">Remove</a>
          </div>

        </div>
      </td>
      <td><input type="number" value="1"></td>
      <td>$200.00</td>
    </tr>

  </table>
<div class="total-price">
  <table>
    <tr>
      <td>Subtotal</td>
      <td>$400.00</td>
      
    </tr>
    <tr>
      <td>Tax</td>
      <td>$35.00</td>
      
    </tr>
    <tr>
      <td>Total</td>
      <td>$435.00</td>
      
    </tr>
  </table>


</div>




</div>

</div>




<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style=" background: -webkit-linear-gradient(left, #444447, #25c1dd);">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        
      

      </div>
      <!-- Grid row-->

    </div>
  </div>


  <div class="some">
  <!-- Footer Links -->
  <div class="container text-center text-md-left ">
   
    <!-- Grid row -->
    <div class="row dark-grey-text ">

      <!-- Grid column -->
      <div class="col-md-3 mt-5 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">PebblesStop</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mt-5 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">MDBootstrap</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">MDWordPress</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">BrandFlow</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mt-5 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Your Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Shipping Rates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mt-5 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fa fa-home" aria-hidden="true"></i> New York, NY 10012, US</p>
        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
           info@example.com</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
         + 01 234 567 88</p>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i>
          + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
    <a class="dark-grey-text" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
<!-- Footer -->