

<div class="img-fluid"> 
<div class="container">
    <div class="card-deck">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/ear5Stone.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ear Rings</h5>
      <p class="card-text">Shop By Customized Design</p>
      <a routerLink="../earrings" class="btn ">Click</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/pexels-artem-beliaikin-994524.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Necklaces</h5>
      <p class="card-text">Shop By Customized Design</p>
      <a routerLink="../necklaces" class="btn ">Click</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/images/pexels-axecop-2697608.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Rings</h5>
      <p class="card-text">Shop By Material</p>
      <a routerLink="../rings" class="btn ">Click</a>
        </div>  
    </div>
    
    </div>
  </div>
</div> 
<router-outlet></router-outlet>